/*color and fonts*/ 
body{
	background-color: #FAF0DC;
	color: #D5B895;
	font-family: "Lora", serif;
	font-size: 17px;
}

h1, h2, h3{
	font-family: "Roboto", sans-serif;
}

h1{
	color: #C19770;
	font-size: 40;
	letter-spacing: 1px;
	font-weight: 700;
	text-justify: center;
} 

h2{
	color: #A67A5B;
	font-size: 24px;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #C19770;
}

a:hover{
	color: black;
} 


 /* custome design with class*/

 .container {
 	width: 700px;
 	margin: 40px;
 }

 @media (max-width: 500px) {
 	.container {
 		width: 400px;
 	}
 }

  @media (max-width: 760px) {
 	.container {
 		width: 600px;
 	}
 }

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px, 10px,30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

  .list-inline {
  	list-style: none;
  	padding-left: 0px;
  }

.list-inlne li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color : rgb(330, 330, 330/ 1.0);
}










